body {
    margin-top: 120px;
}

ul {
    padding: 0;
    margin-bottom: 2px;
}

li {
    border: 1px solid lightgrey;
    list-style: none;
    padding: 5px;
}

h2 {
    text-align: center;
}

input {
    border: none;
    width: 100%;
}
